@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Your other styles go here */
@media screen and (max-width: 600px) {
   
 
*{
    
    text-align: center;
    margin: 0;
    font-family: sans-serif;
}

body
{
    background-color:aliceblue ;

}



p{
    font-size: 50px;
}
.top
{
    background-color:black;
   /* text-align:center;
    display:flex;
    align-items:center;
    height:80%
    width:60%;
    top:0;
    
    border-color: black;
    padding: 70px; */ 
    color:white;
   /*background-image:url("./images/bg.jpg");
    background-repeat:no-repeat;-->
    background-size: 90vw 60vh;
    margin:0px 10px 0px 10px;
    background-size: cover;*/
    
}

a:hover
{
    color:aliceblue;
    background: #f9f8f8;
    padding-top:0px;
}

.mid-container
{

    background-color: black;
}

#imgsize2
{
	width:350px;
	height:350px;
    margin-left: 10%;
}

h1{
    margin: 0 auto 0 auto;
    font-family:  sans-serif;
    
}


.a
{
    border-radius: 50%;
    width: 30%;
    
}

hr{
    border-style: ;dotted;
}
}