body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

nav {
    background-color:#838792;
    padding: 10px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color:#32012F;
    padding: 0 0 50px 0;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.intro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 50px;
}

.social-links {
    margin-top: 20px;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#profile-picture
{
height:21rem;
width:21rem;
transition: transform 0.3s ease-in-out;

}

#profile-picture:hover
{
    transform:scale(1.1);
}

.intro-text
{
    s
}
.logo:hover
{
    transform:scale(0.9);
}